---
version: 2.1

executors:
  golang:
    docker:
    - image: cimg/go:1.16

jobs:
  build:
    executor: golang

    parameters:
      version:
        type: string

    steps:
    - checkout
    - setup_remote_docker
    - run: docker info
    - run: make VARIANTS=base VERSION=<< parameters.version >>
    - run: make VARIANTS=main VERSION=<< parameters.version >>
    - run: docker images
    - run: ls -l docker-images
    - persist_to_workspace:
        root: .
        paths:
        - docker-images


  publish:
    executor: golang

    steps:
    - checkout
    - setup_remote_docker
    - attach_workspace:
        at: .
    - run: for i in docker-images/*; do docker load -i "$i" ; done
    - run: docker images
    - run: make tag SUFFIX=
    - run: docker login -u $QUAY_LOGIN -p $QUAY_PASSWORD quay.io
    - run: make push

  bump_version:
    executor: golang

    steps:
    - checkout
    - run: ./scripts/bump_version.sh

workflows:
  version: 2
  golang-builder:
    jobs:
    - build:
        matrix:
          parameters:
            version:
            - "1.15"
            - "1.16"
        filters:
          branches:
            ignore: master
    - publish:
        context: org-context
        requires:
        - build
        filters:
          branches:
            only: master
  nightly:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
    - bump_version:
        context: org-context
